<%= form_with(model: country) do |f| %>
  <h1><%= yield(:title) %></h1>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :full_name %>
  <%= f.text_field :full_name, class: 'form-control' %>

  <% yield(:button_text).empty? ? ep = edit_country_path(country) : ep = "" %>
  <%= render 'shared/buttons', f: f, url: countries_url, model: country, edit_path: ep %>

<% end %>